body {
    color: #0000FF;
}

.grid {
	position:fixed;
	 overflow-y: auto;
    margin: 20% auto 50 35% ;
    width: 80vw;
    max-width: 30vh;
    height: 80vw;
    max-height: 30vh;
    font-size: 1rem;
    z-index: 10;
}
.row {
    display: flex;
}
.box {
    background: tomato;
    margin: 0px;
    color: white;
    font-weight: bold;
    flex: 1 0 auto;
    position: relative;
}
.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty{
	visibility:hidden
}



.shirt{
	float:right;
}
.child {
	height:100%;
	margin:20px;}